:root {

  --color-black: #000000;
  --color-dark: #18181c;
  --color-gray-dark: #2a2a2e;
  --color-gray: #3a3a3f;
  --color-gray-light: #8a8a8f;
  --color-white: #ffffff;
}

header {
    background-color: var(--color-dark);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
}

 body {
  height: 1000px;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--color-white);
}

.navbar {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  background-color: #1e1e2f;
  color: white;
  padding: 20px 20px; 
  display: flex;
  align-items: center;
}

.logo {
  margin: 0;
  font-size: 25px;
}

.nav-links {
  margin-left: auto; 
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}

.cards {
  display: flex;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.cards img {
  width: 300px;
  height: 300px;
  align-items: center;
  border-radius: 45px;
}

.cards div{
  border: 3px solid var(--color-gray);
  border-radius: 20px;
  padding: 10px;
  width: 335px;
  text-align: center;
  transition: 0.3s;
  margin-bottom: 50px;
}

.cards div:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

footer{
  background-color: #8a8a8f;
  margin: 0;
  padding: 10px;
  margin-top: 50px;
}
.redes{
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px 0;
}

.redes img{
  width: 32px;
  height: auto;
}

#inicio p {
  text-align: center;
  font-size: 3rem;
  margin-top: 100px;
}
*{
  scroll-behavior: smooth;
}
